<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007348914986-3rhsb4kdg1s7koeuelld8tbav5uqbclt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007348914986-3rhsb4kdg1s7koeuelld8tbav5uqbclt</string>
	<key>API_KEY</key>
	<string>AIzaSyDYCrEOD_tF7kPvfvnd5IH3IDJuMb3Tbks</string>
	<key>GCM_SENDER_ID</key>
	<string>1007348914986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arquerostudios.PuffPuff-Pass</string>
	<key>PROJECT_ID</key>
	<string>puffpuff-pass-341b3</string>
	<key>STORAGE_BUCKET</key>
	<string>puffpuff-pass-341b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007348914986:ios:b55e46baeecb51f3a81c53</string>
	<key>DATABASE_URL</key>
	<string>https://puffpuff-pass-341b3.firebaseio.com</string>
</dict>
</plist>